.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
    align-items: center;
    justify-content: center;
    height: auto;
}

.hero-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
}

.hero-image {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-info-container {
    position: relative;
    z-index: 2;
    overflow-x: hidden;
}

#powerfull {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 80px;
    background-color: #355592;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 200px;
    margin-left: 100px;
}

#hero-h1 {
    display: block;
    margin-top: 0px;
    color: white;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 4px;
    margin-left: 100px;
}

#hero-p {
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    margin-top: 0;
    line-height: 1.4;
    font-weight: 700;
    font-size: 16px;
    width: 80%;
    margin-left: 100px;
}

.btn-signup {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #355592;
    justify-content: space-between;
    padding: 4px 8px 4px 8px;
    border: 2px solid #355592;
    border-radius: 4px;
    margin-top: 2px;
    margin-left: 100px;
    margin-bottom: 80px;
}

.btn-details {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color:  rgba(0, 0, 0, 0.638);
    padding: 6px 12px 6px 12px;
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 80px;
}

.container-stat-card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
    position: relative;
}

.stat-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px 10px 20px;
    text-align: center; 
    z-index: 3;
}

.stat-card h3 {
    text-align: center;
    margin-bottom: 0;
}

.stat-card p {
    text-align: center;
    margin-right: 30px;
}